//
//  Config.xcconfig
//  Messenger
//
//  Created by TomaszGolkowski on 08/07/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
CFBundleURLSchemes = fb507093837235105
FacebookAppID = 507093837235105
FacebookClientToken = eb70ce852eb2d4000478a3425176fd01
